
.searchbar_icons{
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 5px;
}
.flex_input, .flex_light_input{
    margin-left: 30px;
    width: 100%;
}

.flex_input h4{
    text-transform: uppercase;
    margin-right: 10px;
    margin: 0;
    margin-bottom: 3px;
    color: #ccd6f6;
}

.flex_light_input h4{
    text-transform: uppercase;
    margin-right: 10px;
    margin: 0;
    margin-bottom: 3px;
    color: #0a192f;
}


.flex_input input, .flex_light_input input{
    padding:10px;
    outline: none;
    width: 100%;
}

.iconsArea{
    width: 20px;
    margin-top: 15px;
}


.searchIcon{
    color: #ccd6f6;
    font-size: 30px;
    cursor: pointer;
}

.searchIcon_light{
    color: #0a192f; 
    font-size: 30px;
    cursor: pointer;
}

.crossIcon{
    color: red;
    font-size: 30px;
    cursor: pointer;
}

.searchIcon_light:hover, .searchIcon:hover {
    color: #18b490;
}
.crossIcon:hover{
    color: rgb(223, 10, 10); 
}


/* ============= responsive ================ */
@media screen and (max-width:576px){
    .flex_input, .flex_light_input{
        width: 100%;
    }
}