
.navbar_section{
    width: 90%;
    margin: auto;
}

.nav_title{
    text-align: center;
    padding: 30px 0;
}
.nav_title h1{
    font-size: 35px;
}
.nav_title h1, .nav_title h5{
    margin: 0;
}

.nav_main{
    background-color: #0a192f;
    border: 1px solid #64ffda;
    padding: 20px 0;
    border-radius: 20px;
    display: flex;
    align-items:center;
    justify-content: center;
    position: sticky !important;
    top: 0;
}

.nav_main_light{
    background-color: #fff;
    padding: 20px 0;
    border-radius: 20px;
    display: flex;
    align-items:center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    position: sticky;
    top: 0;

}

.nav_main a{
    margin-left: 15px;
    color: #ccd6f6;
    cursor: pointer;
}
.nav_main_light a{
    margin-left: 15px;
    color:#0a192f;
}

.nav_main a span{
    color: #64ffda;
}
.darkColor{
    color: #112240;
  }
    .lightColor{
      color: #ccd6f6;
    }
    .darkColor span{
      
      color: #04c598;
  }
  
  .lightColor span{
    color: #64ffda;
  }






.userBox{
    background-color: #eee;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 6px 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 20px;
}
.userBox img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0;
}
.userBox div{
    margin-left: 4px;
}
.userBox h5{
    margin: 0;
    font-size: 11px;
    text-transform: uppercase;
}

.userBox div button{
    font-size: 13px;
    cursor: pointer;
    margin: 0;
}










/* ================ responsive ================= */
@media screen and (max-width:992px){

}

@media screen and (max-width:768px){

    .nav_main a{
        font-size: 12px;
    }
    .nav_main_light a{
        font-size: 12px;
    }
}


@media screen and (max-width:568px){
    .nav_main{
        flex-direction: column;
    }
    .nav_main_light{
        flex-direction: column;
    }
    .nav_main a, .nav_main_light a{
        margin-left: 0;
        margin-top: 10px;
    }

    .nav_title h1, .nav_main_light h1{
        font-size: 20px;
    }

    
}