.fof{
    text-align: center;
    padding-top: 100px;
}

.main{
    text-align: center;
}
.fof h1{
    font-size: 50px;
    display: inline-block;
    padding-right: 12px;
    animation: type .5s alternate infinite;
    margin: 0;
}
.color{
    color: #ccd6f6;
}

@keyframes type{
    from{box-shadow: inset -3px 0px 0px #18b490;}
    to{box-shadow: inset -3px 0px 0px transparent;}
}
